@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}") format('opentype');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Polin Font Definitions
@include font-face('Polin', '../../../font/Polin Font/Polin-Hairline.otf', 100, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-HairlineItalic.otf', 100, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Thin.otf', 200, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-ThinItalic.otf', 200, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Extralight.otf', 250, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-ExtralightItalic.otf', 250, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Light.otf', 300, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-LightItalic.otf', 300, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Regular.otf', 400, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-RegularItalic.otf', 400, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Medium.otf', 500, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-MediumItalic.otf', 500, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Semibold.otf', 600, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-SemiboldItalic.otf', 600, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Bold.otf', 700, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-BoldItalic.otf', 700, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Extrabold.otf', 800, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-ExtraboldItalic.otf', 800, italic);

@include font-face('Polin', '../../../font/Polin Font/Polin-Black.otf', 900, normal);
@include font-face('Polin', '../../../font/Polin Font/Polin-BlackItalic.otf', 900, italic);
