@use '../../../abstracts/variables' as *;
@use '../../../abstracts/mixins' as *;

.section {
  padding: $section-padding-y 0;
  background: #f9f9f9;
}

.container {
  @include container;
  text-align: center;
}

.header {
  max-width: 800px;
  margin: 0 auto 48px;
  
  .title {
    font-size: 32px;
    font-weight: 600;
    color: #0E5D3F; // Montra/Main Cyan/main cyan-900
    margin-bottom: 16px;
    line-height: 1.1;
    
    @include respond-to('md') {
      font-size: 42px;
    }
  }
  
  .subtitle {
    font-size: 14px;
    color: #252525;
    max-width: 556px;
    margin: 0 auto;
    line-height: 1.4;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 860px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 8px;
  flex-direction: column;
  
  @include respond-to('md') {
    flex-direction: row;
  }
}

.card {
  padding: 32px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  min-height: 174px;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
  
  .cardTitle {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .cardDesc {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.cardLarge {
  flex: 2;
}

.cardSmall {
  flex: 1;
}

.cardGrey {
  background: #EBEBEB;
  .cardTitle, .cardDesc {
    color: #565656;
  }
}

.cardBlue {
  background: #5490F8;
  .cardTitle, .cardDesc {
    color: #F9F9F9;
  }
}

.cardGreen {
  background: #179D6B;
  .cardTitle, .cardDesc {
    color: #F9F9F9;
  }
}
